.calculateback{
    width: 900px;
    height: 800px;
    background-color: gainsboro;
    margin: 0px auto;
}

.calculate {
    width: 500px;
    height: 550px;
    margin: 0px auto;
    background-color:wheat;
    border: solid;
    border-color: gray;
}

.calculatedes {
    width: 500px;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    margin: 0px auto;
}

.buttonflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
}

.buttonflex .mybutton {
    width: 100px;
}

.buttonflex .yello {
    background-color:yellow;
}

.buttonflex .red {
    background-color:red;
}

.buttonflex .orange {
    background-color:orange;
}

.buttonflex .purple {
    background-color:pink;
}

.textout {
    padding-top: 50px;
    padding-bottom: 30px;
}
.textout .myinput{
    width: 400px;
    height: 80px;
    margin: 0px auto;
    font-size: 30px;
}

.backtohome {
    width: 200px;
    height: 100px;
    font-size: 40px;
    margin-left: 80px;
    line-height: 100px;
}